<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<div class="container">
    <div th:replace="~{fragments/commons::navbar}"></div>
    <div class="content content-container">
        <h3> Fill the fields to register</h3>
        <form method="post" th:action="@{/register}" th:object="${userRegisterDto}">
            <div>
                <div class="field" style="margin-bottom: 20px;">
                    <label>Username: </label>
                    <input class="form-control"
                           id="username"
                           placeholder="Username"
                           th:errorclass="is-invalid"
                           th:field="*{username}"
                           type="text"/>

                    <div class="invalid-feedback"
                         th:each="err : ${#fields.errors('username')}"
                         th:text="${err}">Enter a valid username!
                    </div>
                </div>


                <div class="field" style="margin-bottom: 20px;">
                    <label>Email: </label>
                    <input class="form-control"
                           id="email"
                           placeholder="Email"
                           th:errorclass="is-invalid"
                           th:field="*{email}"
                           type="text"/>

                    <div class="invalid-feedback"
                         th:each="err : ${#fields.errors('email')}"
                         th:text="${err}">Enter a valid email address!
                    </div>
                </div>


                <div class="field" style="margin-bottom: 20px;">
                    <label>Age: </label>
                    <input class="form-control"
                           id="age"
                           placeholder="Age"
                           th:errorclass="is-invalid"
                           th:field="*{age}"
                           type="text"/>

                    <div class="invalid-feedback"
                         th:each="err : ${#fields.errors('age')}"
                         th:text="${err}">Enter a valid age!
                    </div>
                </div>


                <div class="field" style="margin-bottom: 20px;">
                    <label>Country: </label>
                    <input class="form-control"
                           id="country"
                           placeholder="Country"
                           th:errorclass="is-invalid"
                           th:field="*{country}"
                           type="text"/>

                    <div class="invalid-feedback error-message"
                         th:each="err : ${#fields.errors('country')}"
                         th:text="${err}">Enter a valid country!
                    </div>
                </div>

                <div class="field" style="margin-bottom: 20px;">
                    <label class="text-white font-weight-bold" for="password"
                    >Password</label
                    >
                    <input class="form-control"
                           id="password"
                           max="20"
                           min="2"
                           placeholder="Password"
                           th:errorclass="is-invalid"
                           th:field="*{password}"
                           type="password"
                    />
                    <div class="invalid-feedback"
                         th:each="err : ${#fields.errors('password')}"
                         th:text="${err}">Enter a valid password!
                    </div>
                </div>

                <div class="field" style="margin-bottom: 20px;">
                    <label class="text-white font-weight-bold" for="confirmPassword"
                    >Confirm Password</label>
                    <input class="form-control"
                           id="confirmPassword"
                           max="20"
                           min="2"
                           placeholder="Confirm Password"
                           th:errorclass="is-invalid"
                           th:field="*{confirmPassword}"
                           type="password"
                    />
                    <div class="invalid-feedback"
                         th:each="err : ${#fields.errors('confirmPassword')}"
                         th:text="${err}">Passwords should match!
                    </div>
                </div>


                <div class="saveButton">
                    <input type="submit" value="Save user">
                </div>

            </div>
        </form>
    </div>
</div>

</body>
</html>