<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<div class="container">
    <div th:replace="~{fragments/commons::navbar}"></div>
    <div class="content content-container">
        <h3> Search users: </h3>
        <form th:action="@{/search}"
              th:method="GET"
              th:object="${searchUserDto}">
            <div class="search-field-container">
                <div class="username">
                    <label>Username: </label>
                    <input class="form-control"
                           id="username"
                           placeholder="Username"
                           th:errorclass="is-invalid"
                           th:field="*{username}"
                           type="text"/>

                    <div class="invalid-feedback"
                         th:each="err : ${#fields.errors('username')}"
                         th:text="${err}">Enter a valid username!
                    </div>
                </div>

                <div class="email">
                    <label>Email: </label>
                    <input class="form-control"
                           id="email"
                           placeholder="Email"
                           th:errorclass="is-invalid"
                           th:field="*{email}"
                           type="text"/>

                    <div class="invalid-feedback"
                         th:each="err : ${#fields.errors('email')}"
                         th:text="${err}">Enter a valid email address!
                    </div>
                </div>

                <div class="minAge">
                    <label>Min age: </label>
                    <input class="form-control"
                           id="minAge"
                           placeholder="min age"
                           th:errorclass="is-invalid"
                           th:field="*{minAge}"
                           type="number"/>

                    <div class="invalid-feedback"
                         th:each="err : ${#fields.errors('minAge')}"
                         th:text="${err}">Enter a valid minAge!
                    </div>
                </div>

                <div class="maxAge">
                    <label>Max age: </label>
                    <input class="form-control"
                           id="maxAge"
                           placeholder="max age"
                           th:errorclass="is-invalid"
                           th:field="*{maxAge}"
                           type="number"/>

                    <div class="invalid-feedback"
                         th:each="err : ${#fields.errors('maxAge')}"
                         th:text="${err}">Enter a valid maxAge!
                    </div>
                </div>

                <div class="country">
                    <label>Country: </label>
                    <input class="form-control"
                           id="country"
                           placeholder="Country"
                           th:errorclass="is-invalid"
                           th:field="*{country}"
                           type="text"/>

                    <div class="invalid-feedback error-message"
                         th:each="err : ${#fields.errors('country')}"
                         th:text="${err}">Enter a valid country!
                    </div>
                </div>


                <div class="saveButton">
                    <input class="btn-search" type="submit" value="Search">
                </div>

            </div>
        </form>
        <div id="tittle">
            <h1>Results from searching: </h1>
        </div>
        <div id="users">
            <h2>Searching criteria: <span th:text="${criteria}"></span></h2>
            <table>
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Country</th>
                    <th>Date</th>
                    <th>Delete/Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="u : ${users}">
                    <td><span th:text="${u.username}">Username </span></td>
                    <td><span th:text="${u.email}">Email </span></td>
                    <td><span th:text="${u.age}">Age </span></td>
                    <td><span th:text="${u.country}">Country </span></td>
                    <td><span th:text="${#dates.format(u.date, 'dd-MM-yyyy HH:mm:ss')}">Date </span></td>
                    <td>
                        <form class="delete-button"
                              th:action="@{/delete/{id}(id=${u.id})}" th:method="delete">
                            <button class="btn btn-secondary btn-danger" type="submit">Delete</button>
                        </form>
                        <a class="btn btn-secondary edit-button" th:href="@{/edit/{id}(id=${u.id})}">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>